
Tanks/Temp/UnityLockfile

Tanks/\.vs/Tanks/v15/\.suo

Tanks/Library/CrashedAssetImports\.txt

Tanks/Library/assetDatabase3

Tanks/Library/CurrentLayout\.dwlt

Tanks/Library/metadata/69/69e0a90f41daa234db1b3ad08a8e23fb\.info

Tanks/Library/metadata/97/9749086158df20a44bc3d1c20fb31230\.info

Tanks/Library/EditorInstance.json

Tanks/Temp/__Backupscenes/0.backup

Tanks/.vs/Tanks/v15/Server/sqlite3/storage.ide-shm

Tanks/.vs/Tanks/v16/Server/sqlite3/db.lock
