
Tanks/Temp/UnityLockfile

Tanks/Library/CrashedAssetImports\.txt

Tanks/Library/assetDatabase3

Tanks/Library/CurrentLayout\.dwlt

Tanks/Library/metadata/69/69e0a90f41daa234db1b3ad08a8e23fb\.info

Tanks/Library/metadata/97/9749086158df20a44bc3d1c20fb31230\.info
